<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Accessories: <%= @vehicle.accessories.count %></strong>
  <% @vehicle.accessories.each do |a| %>
    <%= a.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
